
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <br />
        <h2> @Html.ActionLink("Thanh Toán", "Index", "Web")</h2>
        
        <h2>@Html.ActionLink("Lịch sử", "History", "Web")</h2>
    </div>
</body>
</html>
